.root {
    -fx-font-family: "Segoe UI";
    -fx-font-size: 14px;

    -fx-background-color: #d0dfc2;

    -fx-focus-color: #5f7350;
    -fx-faint-focus-color: rgba(95, 115, 80, 0.2);
}


/* ---------- Labels ---------- */

.label {
    -fx-text-fill: #32382c;
}

.section-label {
    -fx-font-size: 18px;
    -fx-font-weight: bold;

    -fx-text-fill: #485e33;
}

.warning-label {
    -fx-font-size: 12px;

    -fx-text-fill: #ec7560;
}

.indented-card-label {
    -fx-font-size: 16px;

    -fx-text-fill: #485e33;
}


/* ---------- Buttons ---------- */

.button {
    -fx-base: #aec29e;

    -fx-text-fill: #32382c;
}

.button:hover {
    -fx-base: #828b7b;
}

.button:default {
    -fx-base: #aec29e;
}

/* ---------- Logout Button ---------- */

.logout-button {

    -fx-base: #caa09a;

    -fx-text-fill: #5e3129;

    -fx-font-weight: bold;

    -fx-background-radius: 3;

    -fx-focus-color:
        #8a544d;

    -fx-faint-focus-color:
        rgba(138, 84, 77, 0.20);
}

.logout-button:hover {

    -fx-base:
        #b68d87;
}

.logout-button:pressed {

    -fx-base:
        #a37c76;
}

.logout-button:focused {

    -fx-focus-color:
        #8a544d;

    -fx-faint-focus-color:
        rgba(138, 84, 77, 0.20);
}

/* ---------- Discard Button ---------- */

.discard-button {

    -fx-base: #caa09a;

    -fx-text-fill: #5e3129;

    -fx-background-radius: 3;

    -fx-focus-color:
        #8a544d;

    -fx-faint-focus-color:
        rgba(138, 84, 77, 0.20);
}

.discard-button:hover {

    -fx-base:
        #b68d87;
}

.discard-button:pressed {

    -fx-base:
        #a37c76;
}

.discard-button:focused {

    -fx-focus-color:
        #8a544d;

    -fx-faint-focus-color:
        rgba(138, 84, 77, 0.20);
}

/* ---------- Tabs ---------- */

.tab-header-background,
.tab {
    -fx-background-color: #a6b498;
}

.tab:selected {
    -fx-background-color: #3f4b36;
}

.tab-pane .tab-header-area {
    -fx-alignment: CENTER;
}

.tab .tab-label {
    -fx-text-fill: #32382c;
}

.tab:selected .tab-label {
    -fx-text-fill: #a6b498;

    -fx-font-weight: bold;
}

/* ---------- List Header ---------- */

.list-header {

    -fx-background-color: #e0e0e0;

    -fx-background-radius:
        0 0 0 0;

    -fx-padding:
        10 14;

    -fx-border-color:
        rgba(63, 75, 54, 0.15);

    -fx-border-width:
        0 0 1 0;
}

.list-header-label {

    -fx-font-size:
        16px;

    -fx-font-weight:
        bold;

    -fx-text-fill:
        #485e33;
}

/* ---------- Separators ---------- */

.separator .line {

    -fx-border-color:
        rgba(167, 197, 158, 0.35)
        rgba(63, 75, 54, 0.35)
        rgba(63, 75, 54, 0.35)
        rgba(167, 197, 158, 0.35);

    -fx-border-width: 1;
}


/* ---------- Cards ---------- */

.indented-card {

    -fx-background-color: #bcc9af;

    -fx-background-radius: 12;
    -fx-border-radius: 12;

    -fx-border-color:
        rgba(63, 75, 54, 0.12);

    -fx-border-width: 1;
}

.indented-card-header {

    -fx-background-color: #a6b498;

    -fx-background-radius:
        12 12 0 0;

    -fx-padding:
        8 16;
}

.indented-card-content {

    -fx-padding:
        16;
}

/* ---------- Filter Chips ---------- */

.filter-chip {

    -fx-background-color: #bcc9af;

    -fx-background-radius: 3;
    -fx-border-radius: 3;

    -fx-border-color:
        rgba(63, 75, 54, 0.12);

    -fx-border-width: 1;
}

.filter-chip-close-button {
    -fx-text-fill: #5e403b;
}

.filter-chip-close-button:hover {
    -fx-text-fill: #ec7560;
}

/* ---------- Segmented Toggle ---------- */

.segment-left,
.segment-middle,
.segment-right {

    -fx-max-width: Infinity;
    -fx-pref-width: 9999;

    -fx-base: #aec29e;

    -fx-text-fill: #32382c;

    -fx-border-color:
        rgba(63, 75, 54, 0.15);

    -fx-border-width: 1;

    -fx-padding:
        5 10;
}

.segment-left:hover,
.segment-middle:hover,
.segment-right:hover {

    -fx-base:
        #828b7b;
}

.segment-left:selected,
.segment-middle:selected,
.segment-right:selected {

    -fx-base:
        #77856c;

    -fx-text-fill:
        #a6b498;

    -fx-font-weight:
        bold;
}

.segment-left {

    -fx-background-radius:
        3 0 0 3;

    -fx-border-radius:
        3 0 0 3;
}

.segment-middle {

    -fx-background-radius:
        0;

    -fx-border-radius:
        0;
}

.segment-right {

    -fx-background-radius:
        0 3 3 0;

    -fx-border-radius:
        0 3 3 0;
}

.invalid-field {
    -fx-text-fill: red;
}